<div class="container-fluid user-profile">

  <!-- Main div with tweets. -->
  <div class="container fade-in" >
    
    <!-- Input Form  -->
    <form noValidate autocomplete="off" class="input-tweet"  [formGroup]="inputFormGroup" (ngSubmit)="onSubmit()">
      
      <!-- Input and submit. -->
      <div class="row input-container">
        <!-- Input for new tweet. -->
        <div class="input-box events col-md-10" >
          <div class="form-group border-round">
            <textarea type="text" rows="3" class="form-control shadow" placeholder=" Say something!" id="lastName" formControlName="tweet" required ></textarea>
          </div>
        </div>
        <!-- Submit tweet button -->
        <div class="col-1 submit-button events"> 
          <button class="btn button shadow border-round">Write</button>
        </div>
      </div>
    </form>
    
    <!-- Show paginator -->
    <div class="paginator-div events">
      <ngb-pagination [boundaryLinks]="true" [collectionSize]="totalRows" #numPages [pageSize]="pageSize" [(page)]="currentPage" (pageChange)="onPageChange()"></ngb-pagination>
    </div>  

    <!-- Tweets window -->
    <div class="container-fluid window shadow"  >
      <div class="row bg-light tweet-box border-round shadow" *ngFor="let card of tweetsAll">
        <!-- One tweet  -->
        <div class="container-fluid userField col-1 col-xs-1" >
          <!-- Username and date/time when tweet is made   -->
          <div class="title">{{card.username}}</div>
          <div class="subtitle">{{convertDate(card.writenAt)}}</div>
        </div>
        <!-- content of message -->
        <div class="tweet-body multiline col">
          <div>{{card.body}}</div>
        </div>
        <div class="delete col-1 col-xs-1">
          <div>
            <!-- if tweet is from current user, can be deleted  -->
            <i class="bi bi-trash-fill delete events" *ngIf="card.username === currentUser.username" tooltip="Delete this tweet" (click)="confirmDelete(card)"></i>
          </div>
        </div>
      </div>
    </div>
      
    <!-- Show paginator -->
    <div class="paginator-div events">
      <ngb-pagination [boundaryLinks]="true" [collectionSize]="totalRows" #numPages [pageSize]="pageSize" [(page)]="currentPage" (pageChange)="onPageChange()"></ngb-pagination>
    </div>  
</div>