
.container {
  display:grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
}

//* Input *//

// Input container for input div
.input-container {
  align-items:center;
  column-gap:1rem;
  background-color: transparent;
  pointer-events: all;
  min-width: 450px;
}

// Input only
.input-box {
  pointer-events: all;
  width: 100%;
  padding-bottom: 0 !important;
  background-color: rgb(238, 247, 255);
}

// Submit button container
.submit-button {
  padding-right: 0rem;
}

//* *//

// display of paged tweets
.window {
  display: grid;
  padding: 2%;
  border-radius: 8px;
  background-color: rgb(79, 115, 147);
  min-width: 510px;
  gap: 1rem;
  width: 60vw;
}

// One tweet
.tweet-box {
  // display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  column-gap: 2rem;
  margin: 0;
}

//* Tweet parts *//

// Userfield
.userField {
  padding-left: 1rem;
}

// Username
.title {
  font-size:medium;
  align-content:flex-start;
  // width:10%;
  margin-bottom: 0;
}

// Date
.subtitle {
  margin-bottom: 1rem;
  font-size:x-small;
}

// Message
.tweet-body {
  font-size: small;
  line-break: anywhere;
  // overflow-wrap: break-word;
  vertical-align:auto;
  padding-left: 2rem;
}

// Interpret native line break
.multiline {
  white-space: pre-wrap;
}

// Delete button container
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

// Delete icon color
.delete :hover {
  color: rgba(131, 19, 41, 0.772) !important;
}

//* *//

// Paginator container
.paginator-div {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 450px;
}

// Change default pagination colors
::ng-deep.pagination > .active > a {
    color: white;
    background-color: rgb(79, 115, 147) !Important;
    border: solid 2px #ffffff !Important;
}

// Center paginator
::ng-deep .pagination {
  justify-content:center;
}

.form-group {
  width: 100%;
}