<div class="main-container">
  
  <!-- Open card as a container for Login / Register -->
  <div class="cardWrap"> 
    <div>
      <!-- IsLogin is flag for chosen component  -->
      <div *ngIf="isLogin"> <app-login></app-login></div>
      <div *ngIf="!isLogin"><app-register></app-register></div>
    </div>
  </div>
  
  <!-- Switch components  -->
  <div class="button-container fade-in">
    <p class="btn button shadow" (click)="rotateLogin()" >{{buttonLabel}}</p>
    </div>
</div>