// Main mcontainer
.main-container {
  display: flex;
  column-gap:  20px 20px;
  align-items:center;
  justify-content: center;
  flex-flow: column nowrap;
  flex-direction: column;
  height: 100vh;
}

// Button container
.button-container {
  padding-top: 1rem;
}

// Card style (which contain components)
.cardWrap {
  width: 300px;
}

