// Main container
.container {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  align-items:flex-start;
  justify-content: center;
  height: 650px;
  border: 1px solid rgb(234, 234, 234);
  background-color: white;
}

// Input style
.input {
  display: block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

// Button container
.button-wrap {
  text-align: center;
  margin: 2rem;
}

// Button style
.button {
  background-color: rgb(79, 115, 147);
  color: white;
  border: 1px solid white;
  min-width: 81px !important;
}

// Text for errors
.error {
 text-align: center;
}

.phone {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.phone-wrap {
  width: 94%;
}

.form-group {
  margin-bottom: 0;
}