<div class="container fade-in shadow border-round">
  
  <form id="form" [formGroup]="inputFormGroup" (ngSubmit)="onSubmit()" class="was-validated">
    
    <!-- First name input field  -->
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control shadow" placeholder="Ex. Drogo" id="firstName" formControlName="firstName" required>
      <!-- Check validity of first name  -->
      <div class="valid-feedback">Valid first name.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    
    <!-- Last name input field  -->
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control shadow" placeholder="Ex. Kopicl" id="lastName" formControlName="lastName" required>
      <!-- Check validity of last name  -->
      <div class="valid-feedback">Valid last name.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <!-- Username input field  -->
    <div class="form-group">
      <label class="text" for="username">Username</label>
      <input type="text" class="form-control shadow" placeholder="Ex. Drogo" id="username" formControlName="username" required minlength="3" maxlength="10">
      <!-- Check validity of username -->
      <div class="valid-feedback">Valid username.</div>
      <div class="invalid-feedback">Must use 3-10 letters.</div>
    </div>

     <!-- Email input field  -->
     <div class="form-group">
      <label class="text" for="email">Email</label>
      <input type="email" class="form-control shadow" placeholder="xx@xxx.xxx" id="email" formControlName="email" required >
      <!-- Check validity of email  -->
      <div *ngIf="!checkUserExist(email.value)" class="valid-feedback">Valid email.</div>
      <div *ngIf="checkUserExist(email.value)" class="text-danger"><small>Email already used.</small></div>
      <div class="invalid-feedback">Please input valid email address.</div>
     </div>

     <!-- Phone number input field  -->
     <div class="form-group">
      <label class="text" for="phoneNum">Phone number</label>
      <div class="phone">  
        <div class="plus">
          <i class="bi bi-plus-lg"></i>
        </div>
        <input type="text" class="form-control shadow phone-wrap" pattern="[0-9]*" id="phoneNum" placeholder="381123456" formControlName="phone" value="+" required minlength="8">
        <!-- Check validity of phone number  -->
        <div class="valid-feedback">Valid phone number.</div>
        <div class="invalid-feedback">Must use minimum 8 numbers.</div>
      </div>
     </div>

     <!-- Password input field  -->
     <div class="form-group">
      <label class="text" for="password">Password</label>
      <input type="password" class="form-control shadow" placeholder="****" id="password" formControlName="password" required minlength="4">
      <!-- Check validity of password  -->
      <div class="valid-feedback">Valid password.</div>
      <div class="invalid-feedback">Minimum 4 characters.</div>
     </div>

    <!-- Submit button  -->
    <div class="button-wrap">
      <button class="btn button shadow">Submit</button>
    </div>
  </form>
</div>







      <!-- Password input field  -->
      <!-- <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="passwordInvalid()">Enter your password (min. 4 characters)</mat-hint>
      </mat-form-field> -->