  <!-- * Universal confirmation modal * -->
  
  <div class="modal-body text-center">
    <p>{{message}}</p>
    <button type="button" class="btn button" (click)="decline()" >No</button>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
  </div>