<div class="container">
  <div class="row justify-content-center">
  
  <!-- Open users profile -->
  <div class="whole-card">
  
  <!-- Div distancer dissapear when smaller then large  -->
  <div class="distancer d-none d-lg-block"></div>
  
  <div class="user-card shadow border-round">
  
    <!-- User profile image -->
    <div class="photo">
      <img src="../../../assets/man.jpg" class="responsive image">
    </div>
  
    <!-- Current user profile data -->
    <div class="profile">
      <p class="paragraf">
        <small>Username: </small> <br> {{currentUser.username}} <br>
        <small>First name:</small> <br> {{currentUser.firstName}} <br>
        <small>Last Name:</small> <br> {{currentUser.lastName}} <br>
        <small>email:</small> <br> {{currentUser.email}} <br>
        <small>phone:</small> <br> {{currentUser.phone}}
      </p>
    </div>
  </div>
  
  <!-- Card with all users who wrote in this tweet -->
  <div class="user-card shadow border-round mt-3"> 
    <div class="profile"><small>Active users in this tweet: </small></div>
    <div class="profile" *ngFor="let user of activeUsers"> {{user}} <br></div>
  </div>
</div>
</div>