// User profile container
.user-profile{
  display: grid;
  justify-items: center;
}

// Card wrapper
.whole-card {
  display: grid;
  justify-items: center;
}

// User profile card
.user-card {
  display: block;
  width: 60%;
  height: fit-content;
  background-color: white;
  padding-left: 2rem;
}

// User image
.responsive {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

// Distance for vertical alignment
.distancer {
  height: 13.5rem; 
}

// Text for user profile
.paragraf {
  overflow-wrap: break-word;
  font-size: medium;
  line-height: 1.5rem;
  text-align: left;
}

// Positioning of image
.photo {
  text-align: center;
}