.root {
  display: grid;
  margin:10px;
  // Turn off all events
  pointer-events: none;
}

// Toolbar section
.toolbar {
  color: white;
  background-color: rgb(79, 115, 147);
}

// Tweets div
.left-field{
  padding-top: 30px;
  display: grid;
}