<!-- Main wrapper -->
<div class="root">

  <!-- Navbar div -->
  <nav class="navbar navbar-expand toolbar">
    <i class="bi bi-house-fill"></i>
    <a class="navbar-brand toolbar">Tweet Bootstrap example</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <button class="events shadow button" class="btn button shadow border-round " (click)="confirmLogOut()">Log out</button>
    </div>
  </nav>
  
  <!-- Tweets and user wrapper -->
  <div class="row">
  
    <!-- Tweets div -->
    <div class="left-field col-lg-9">
      <app-tweet-div></app-tweet-div>
    </div>
  
    <!-- User data div -->
    <div class="col col-lg-3 right-field fade-in ">
      <app-users-div></app-users-div>
    </div>
  </div>
</div>
  