// Basic container
.container {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: center;
  height: 500px;
  border: 1px solid rgb(234, 234, 234);
  background-color: white;
}

// Text for errors
.text {
  // margin-top: 20%;
  margin-bottom: 0%;
}

// Button div
.button-wrap {
  text-align: center;
  margin: 20%;
}