<div class="container fade-in shadow border-round">
  <label class="title">Login</label>

  <!-- Input email  -->
  <form id="form" [formGroup]="inputFormGroup" (ngSubmit)="onSubmit()" class="was-validated">

    <!-- Email input field  -->
    <div class="form-group">
      <label class="text" for="email">Email</label>
      <input type="email" class="form-control shadow" placeholder="xx@xxx.xxx" id="email" formControlName="email" required >
      <!-- Check validity of email only if field is not empty. -->
      <div *ngIf="email.value !== ''" class="valid-feedback">Valid email.</div>
      <div *ngIf="email.value !== ''" class="invalid-feedback">Please input valid email address.</div>
    </div>

    <!-- Password input field  -->
    <div class="form-group">
      <label class="text" for="password">Password</label>
      <input type="password" class="form-control shadow" placeholder="****" id="password" formControlName="password" required minlength="4">
      <!-- Check validity of password only if field is not empty.   -->
      <div *ngIf="password.value !== ''" class="valid-feedback">Valid password.</div>
      <div *ngIf="password.value !== ''" class="invalid-feedback">Minimum 4 characters.</div>
     </div>

    <!-- Submit button  -->
    <div class="button-wrap">
      <button type="submit" class="btn button shadow">Submit</button>
    </div>
  </form>
</div>