/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~ngx-toastr/toastr-bs4-alert';

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(238, 247, 255);
}

.fade-in {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.shadow {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .3) !important;
}

// Rouned box property
.border-round {
  border-radius: 8px !important;
}

// Button style
.button {
  background-color: rgb(79, 115, 147);
  color: white;
  border: 1px solid white;
  min-width: 81px !important;
}

// Title
.title {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: transparent;
  font-size:xx-large;
  font-weight: 600;
}

.text {
  line-height: 0.5;
}

// Button style
.button {
  background-color: rgb(79, 115, 147);
  color: white;
  border: 1px solid white;
  min-width: 81px !important;
}

// Turn on events on buttons where needed
.events {
  pointer-events: all;
}